<div class="section">
  <div class="search">
    <input type="search" name="" id="" placeholder="Search" [(ngModel)]="searchText">
    <button type="submit"><i class="bi bi-search"></i></button>
  </div>

  <div class="title">
    <h1>Notes</h1>
  </div>

  <div class="note-container-skeleton">
    <div class="note-skeleton"></div>
  </div>
  

  <div class="note-container">

    <div class="note" *ngFor="let note of notes | filter: searchText" [style.backgroundColor]="note.backgroundColor"
      [ngClass]="{ 'new-note': note.new }">
      <textarea [style.backgroundColor]="note.backgroundColor" [(ngModel)]="note.content"
        placeholder="Tomar una nota..."></textarea>
      <span class="date">{{ note.createdAt | date: 'MMM d, y' }}</span>
      <button class="btn-delete" (click)="onDeleteNote(notes.indexOf(note))"><i class="bi bi-trash3"></i></button>
    </div>
  </div>
</div>
