.section {
    padding-left: 80px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding-top: 40px;
    font-family: 'Outfit', sans-serif;
}

.search-bar button {
    pointer-events: none;
}

.search-bar button,
input {
    border: none;
    background-color: transparent;
    padding: 8px 12px;
    font-size: 2rem;
}

.search-bar input[type="search"] {
    border: none;
}

.title {
    padding-top: 80px;
    padding-bottom: 60px;
    font-family: 'Outfit', sans-serif;
}

.note-container-skeleton {
    margin: 10px 0 0 10px;
    width: 300px;
    height: 300px;
    border-radius: 25px;
    background-color: #f5f5f5;
    background-image: linear-gradient(to right, #fdc973 0%, #a082d5 25%, #16e4ff 50%, #e4f692 75%, #fdc973 100%);
    background-size: 400% 100%;
    position: relative;
    overflow: hidden;
    animation: gradient-animation 2s ease-in-out infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}



.note-container {
    display: flex;
    flex-wrap: wrap;
}

.note {
    width: 300px;
    height: 300px;
    background-color: yellow;
    padding: 20px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    position: relative;
}

.note textarea {
    width: 100%;
    height: calc(100% - 40px);
    padding: 10px;
    font-family: 'Tajawal', sans-serif;
    font-size: 20px;
    border: none;
    resize: none;
}

textarea:focus {
    outline: none;
    border: none;
}

.date {
    position: absolute;
    bottom: 20px;
    left: 35px;
    font-size: 12px;

}

.btn-delete {
    position: absolute;
    bottom: 10px;
    right: 0;
    margin-right: 10px;
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-delete:hover {
    color: red;
}


.note.new-note {
    animation-name: newNoteAnimation;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes newNoteAnimation {
    0% {
        opacity: 0;
        transform: translateY(-20px) rotate(10deg);
    }

    30% {
        opacity: 1;
        transform: translateY(0) rotate(-5deg);
    }

    60% {
        transform: translateY(0) rotate(3deg);
    }

    100% {
        transform: translateY(0) rotate(0);
    }
}


/* scroll started */
textarea::-webkit-scrollbar {
    width: 3px;
}

/* Handle */
textarea::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(17, 17, 17, 0.377);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}




/**/
/*/*/

.editor {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.NgxEditor__MenuBar {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.NgxEditor {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
}

.CodeMirror {
    border: 1px solid #eee;
    height: auto;
    margin-bottom: 0.7rem;
}

pre {
    white-space: pre !important;
}

.btn-share {
    background: transparent;
    position: absolute;
    bottom: 9px;
    right: 0;
    margin-right: 40px;
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-share:hover{
    color: red;
}

input.note-title {
    border: none;
    border-bottom: 1px solid #333;;
    background-color: transparent;
    font-family: 'Tajawal', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0;
    outline: none;
    width: 100%;
  }
  