<div class="section">
  <div class="search-bar">
    <button type="submit"><i class="bi bi-search"></i></button>
    <input type="search" name="" id="" placeholder="Search" [(ngModel)]="searchText" (input)="onSearchInput()">
  </div>

  <div class="title">
    <h1>Notes</h1>
  </div>



  <div class="note-container-skeleton" *ngIf="showSkeleton && !searching">
    <div class="note-skeleton"></div>
  </div>



  <div *ngIf="!showSkeleton" class="note-container">

    <div class="msg_span" *ngIf="!notes.length"> 
      <span>Here will be your notes...</span>
    </div>
    <div class="note" *ngFor="let note of notes | filter: searchText" [style.backgroundColor]="note.backgroundColor"
    [ngClass]="{ 'new-note': note.new }">
    <input class="note-title" type="text" [(ngModel)]="note.title" placeholder="Title">
    <div *ngIf="selectedNoteId !== note.id" (click)="startEditing(note.id)" class="note-content">
      <div [innerHTML]="markdown.render(note.content)"></div>
    </div>
    <textarea *ngIf="selectedNoteId === note.id" [(ngModel)]="note.content" (blur)="stopEditing(note.id)"></textarea>
  
    <span class="date">{{ note.createdAt | date: 'MMM d, y' }}</span>
    <button class="btn-delete" (click)="onDeleteNote(notes.indexOf(note))"><i class="bi bi-trash3"></i></button>
    <button class="btn-share" (click)="shareNote(note)">
      <i class="bi bi-share"></i>
    </button>
    <button class="btn-favorite" (click)="toggleFavorite(note)">
      <i *ngIf="!note.favorite" class="bi bi-star"></i>
      <i *ngIf="note.favorite" class="bi bi-star-fill"></i>
    </button>
  </div>
  


  </div>

</div>
