<div class="section">
  <div class="search-bar">
    <button type="submit"><i class="bi bi-search"></i></button>
    <input type="search" name="" id="" placeholder="Search" [(ngModel)]="searchText" (input)="onSearchInput()">
  </div>

  <div class="title">
    <h1>Notes</h1>
  </div>



  <div class="note-container-skeleton" *ngIf="showSkeleton && !searching">
    <div class="note-skeleton"></div>
  </div>


  <div *ngIf="!showSkeleton" class="note-container">

    <div class="note" *ngFor="let note of notes | filter: searchText" [style.backgroundColor]="note.backgroundColor"
      [ngClass]="{ 'new-note': note.new }">
      <input class="note-title" type="text" [(ngModel)]="note.title" placeholder="Title">
      <textarea id="notes" [style.backgroundColor]="note.backgroundColor" [(ngModel)]="note.content"
        placeholder="Take a note..."></textarea>
      <span class="date">{{ note.createdAt | date: 'MMM d, y' }}</span>
      <button class="btn-delete" (click)="onDeleteNote(notes.indexOf(note))"><i class="bi bi-trash3"></i></button>
      <button class="btn-share" (click)="shareNote(note)">
        <i class="bi bi-share"></i>
      </button>
    </div>

  </div>

</div>
